div.page-content {
    /* To place div below the bootstrap's navbar-fixed-top */
    padding-top: 50px;
}

div.notification {
    position: fixed;
    z-index: 10000;
    left: 50%;
    min-width: 200px;
}

th.event-name {
    width: 250px;
}

td.auto-width {
    width: 1px;
    white-space: nowrap;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

div.entity-controls-host {
    position: relative;
}

div.entity-controls {
    position: absolute;
    top: 0px;
    right: 0px;
}

.hiddenSubmit {
    position: absolute;
    visibility: hidden;
}

.align-justify {
    display: block;
    width: 100%;
}

.top-border {
    border-top: 1px solid #EEEEEE;
    padding-top: 9px;
}

a.accordion-toggle:hover {
    text-decoration: initial;
}