<tr id="transaction<%- self.Id %>">
    <td class="auto-width"><%- self.Date %></td>    
    <td class="auto-width text-right"><%- self.Amount %> <%- self.Currency.Name %></td>
    <td class="auto-width">
        <% if (self.highlightBro.Id === self.Source.Id) { %>
            <strong><%- self.Source.Name %></strong>
        <% } else { %>
            <%- self.Source.Name %>
        <% } %>
    </td>
    <td class="auto-width">                
        <% if (self.targetsEqualsEvent) { %>
            <span>All</span>
        <% } else { %>
            <% for(var i = 0; i < self.Targets.length; i++) { %>
                <span>
                    <% if (self.highlightBro.Id === self.Targets[i].Id) { %>
                        <strong><%- self.Targets[i].Name %></strong>
                    <% } else { %>
                        <%- self.Targets[i].Name %>
                    <% } %>            
                </span>
            <% } %>    
        <% } %>
    </td>
    <% if (self.events) { %>
        <td class="auto-width"><%- self.Event.Name %></td>
    <% } %>
    <td>
        <div class="entity-controls-host">
            <%- self.Comment %>
            <div class="entity-controls"></div>  
        </div>
    </td>
</tr>