<tr id="transaction<%- self.Id %>">
    <td class="auto-width"><%- self.Date %></td>    
    <td class="auto-width text-right"><%- self.AmountFormatted %> <%- self.Currency.Name %></td>
    <td class="auto-width">
        <%- self.Source.Name %>      
    </td>
    <td class="auto-width">                
        <% if (self.targetsEqualsEvent) { %>
            <span class="label label-default">All</span>
        <% } else { %>
            <% for(var i = 0; i < self.Targets.length; i++) { %>
                <span><%- self.Targets[i].Name %></span>
            <% } %>    
        <% } %>
    </td>    
    <td>
        <div class="entity-controls-host">
            <%- self.Comment %>
            <div class="entity-controls"></div>  
        </div>
    </td>
</tr>