<div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" name="Name" required>
</div>
<div class="form-group">
    <label for="StartDate">Start Date</label>
    <input class="form-control" type="text" name="StartDate" required
            data-provide="datepicker" data-date-autoclose="true" data-date-format="dd-mm-yyyy" data-date-weekStart="1">
</div>     
<div class="form-group">
    <label for="Description">Description</label>
    <textarea class="form-control" rows="3" name="Description"></textarea>
</div>   
<div class="form-group">
    <div id="eventBros">        
    </div>    
</div>