<div id="module-events">
    <button type="button" class="btn btn-primary" id="createEventButton">Create Event</button>    
    <p />                
    <div class="panel panel-default"  style="display: none">
        <div class="panel-heading"></div>
        <div class="panel-body"></div>
    </div>                          
    <table class="table table-striped table-hover entity-list">
        <thead>
            <tr>
                <th class="event-name">Name</th>
                <th>Start Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody id="event-list">                        
        </tbody>
    </table>                                                
</div>