<div class="panel panel-default" id="event<%= this.Id %>">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle align-justify" data-toggle="collapse" data-parent="#event-list" href="#collapse<%= this.Id %>">
                <%= this.Name %>
            </a>
        </h4>
    </div>
    <div id="collapse<%= this.Id %>" class="panel-collapse collapse">
        <div class="panel-body">
            <h3>
                <a href="#events/<%= this.Id %>"><%= this.Name %></a>
                <span class="entity-controls btn-group btn-group-xs">
                    <button type="button" class="btn btn-default" data-action="edit">Edit</button>
                    <button type="button" class="btn btn-danger" data-action="delete">Delete</button>
                </span>
            </h3>
            <p><%= this.StartDate %></p>
            <ul class="list-inline list-group">
                <% for(var i = 0; i < this.Bros.length; i++) { %>
                <li class="list-group-item"><%= this.Bros[i].Name %></li>
                <% } %>
            </ul>
            <% if (this.Description !== "") { %>
                <div class="top-border">
                    <%= this.Description %>
                </div>
            <% } %>
        </div>
    </div>
</div>     