<div id="module-p2p">
    <div class="page-header">
        <h1>Peer-to-peer Transactions</h1>
    </div>  
    <button type="button" class="btn btn-primary" id="createTransactionButton">New Transaction</button>    
    <p />        
    <table class="table entity-list">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Source</th>
                <th>Targets</th>
            </tr>
        </thead>
        <tbody id="transactions"></tbody>
    </table>
</div>