<li class="list-group-item">
    <table>
        <tbody>
            <tr>
                <td>
                    <a href="#bros/<%- self.bro.Id %>/total"><%- self.bro.Name %></a>
                </td>
                <td>
                    <% if (self.amounts.length > 0) { %>
                        <% for(var i = 0; i < self.amounts.length; i++) { %>
                            <div class="text-right <%- self.helper.getSignClass(self.amounts[i].rawAmount) %>">
                                <%- self.amounts[i].amount %> <%- self.amounts[i].currency.Name %>
                            </div>
                        <% } %>    
                    <% } else { %>    
                        <div class="text-right zero">0</div>
                    <% } %>
                </td>
            </tr>
        </tbody>
    </table>        
</li>