<!DOCTYPE html>

<html>
<head>
    <title>Jeegoordah</title>
</head>
<body>
<div>
    <form method="post">
        <input type="password" name="foo" width="300" autocomplete="off"/>
    </form>
</div>
</body>
</html>